* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p,
h1 {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

.navbar {
    background-color: #ededed8c;
    padding: 20px 20px;
}

.navbar>nav>.Title {
    display: inline-block;
}

.navbar>nav>.Items {
    list-style: none;
    display: inline-block;
    margin-left: auto;
}

.navbar>nav {
    display: flex;
    align-items: center;
}

.navbar>nav>.Items li {
    display: inline;
    margin: 0 15px;
}

.navbar>nav>.Items a {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 0;
    transition: color 0.3s;
}

.navbar>nav>.Items a:hover {
    color: #ffffff;
}


.allineamento {
    text-align: right;
    color: red;
}